<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.management.mapper.OrganizationMapper">
    <resultMap id="RegionResultMap" type="com.org.management.entity.Region">
        <id column="id" property="id" javaType="java.lang.String"></id>
        <collection property="regionList" ofType="java.util.Map">
            <result column="region_id" property="regionId" javaType="java.lang.String"></result>
            <result column="region_nm" property="regionNm" javaType="java.lang.String"></result>
        </collection>
        <collection property="fmcList" ofType="java.util.Map">
            <result column="fmc_id" property="fmcId" javaType="java.lang.String"></result>
            <result column="fmc_nm" property="fmcNm" javaType="java.lang.String"></result>
        </collection>
        <collection property="provList" ofType="java.util.Map">
            <result column="prov_id" property="provId" javaType="java.lang.String"></result>
            <result column="prov_com_nm" property="provComNm" javaType="java.lang.String"></result>
        </collection>
        <collection property="cityList" ofType="java.util.Map">
            <result column="city_id" property="cityId" javaType="java.lang.String"></result>
            <result column="city_com_nm" property="cityComNm" javaType="java.lang.String"></result>
        </collection>
        <collection property="ascList" ofType="java.util.Map">
            <result column="ASC_CD" property="ascCd" javaType="java.lang.String"></result>
            <result column="ASC_NM" property="fmcNm" javaType="java.lang.String"></result>
        </collection>
    </resultMap>

    <select id="selectRegion" resultMap="RegionResultMap">
        SELECT
          distinct ASC_CD,
          ASC_NM,
          '1' id
        FROM
            T_REGION
        <where>
            <if test="'' != query.regionId and null != query.regionId">
                REGION_ID = #{query.regionId}
            </if>
            <if test="'' != query.fmcId and null != query.fmcId">
                and FMC_ID = #{query.fmcId}
            </if>
        </where>
    </select>
    <select id="regionList" resultType="java.util.Map">
        SELECT
            distinct region_id "regionId", region_nm "regionNm"
        FROM
          T_REGION
    </select>

    <select id="fmcList" resultType="java.util.Map">
        SELECT
            distinct fmc_id "fmcId", fmc_nm "fmcNm"
        FROM
          T_REGION
        <where>
            <if test="'' != query.regionId and null != query.regionId">
                REGION_ID = #{query.regionId}
            </if>
        </where>
    </select>
    <select id="ascListByRegion" resultType="java.util.Map">
        SELECT
        distinct ASC_CD "ascCd", ASC_NM "ascNm"
        FROM
        T_REGION
        <where>
            <if test="'' != query.regionId and null != query.regionId">
                REGION_ID = #{query.regionId}
            </if>
            <if test="'' != query.fmcId and null != query.fmcId">
                and FMC_ID = #{query.fmcId}
            </if>
        </where>
    </select>
    <select id="provList" resultType="java.util.Map">
        SELECT
            distinct prov_id "provId", prov_com_nm "provComNm"
        FROM
          T_PROVINCE
    </select>
    <select id="cityList" resultType="java.util.Map">
        SELECT
            distinct CITY_ID "cityId", CITY_COM_NM "cityComNm"
        FROM
          T_PROVINCE
      <where>
          <if test="'' != query.provId and null != query.provId">
              prov_id = #{query.provId}
          </if>
      </where>
    </select>
    <select id="ascListByProvince" resultType="java.util.Map">
        SELECT
        distinct ASC_CD "ascCd", ASC_NM "ascNm"
        FROM
        T_PROVINCE
        <where>
            <if test="'' != query.provId and null != query.provId">
                prov_id = #{query.provId}
            </if>
            <if test="'' != query.cityId and null != query.cityId">
                and CITY_ID = #{query.cityId}
            </if>
        </where>
    </select>
</mapper>