<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.management.mapper.OrganizationMapper">
    <select id="regionList" resultType="java.util.Map">
        SELECT
            distinct region_id "regionId", region_nm "regionNm"
        FROM
          T_REGION
    </select>

    <select id="fmcList" resultType="java.util.Map">
        SELECT
            distinct fmc_id "fmcId", fmc_nm "fmcNm"
        FROM
          T_REGION
        <where>
            <if test="'' != query.regionId and null != query.regionId">
                REGION_ID = #{query.regionId}
            </if>
        </where>
    </select>
    <select id="ascListByRegion" resultType="java.util.Map">
        SELECT
        distinct ASC_CD "ascCd", ASC_NM "ascNm"
        FROM
        T_REGION
        <where>
            <if test="'' != query.regionId and null != query.regionId">
                REGION_ID = #{query.regionId}
            </if>
            <if test="'' != query.fmcId and null != query.fmcId">
                and FMC_ID = #{query.fmcId}
            </if>
        </where>
    </select>
    <select id="provList" resultType="java.util.Map">
        SELECT
            distinct prov_id "provId", prov_com_nm "provComNm"
        FROM
          T_PROVINCE
    </select>
    <select id="cityList" resultType="java.util.Map">
        SELECT
            distinct CITY_ID "cityId", CITY_COM_NM "cityComNm"
        FROM
          T_PROVINCE
      <where>
          <if test="'' != query.provId and null != query.provId">
              prov_id = #{query.provId}
          </if>
      </where>
    </select>
    <select id="ascListByProvince" resultType="java.util.Map">
        SELECT
        distinct ASC_CD "ascCd", ASC_NM "ascNm"
        FROM
        T_PROVINCE
        <where>
            <if test="'' != query.provId and null != query.provId">
                prov_id = #{query.provId}
            </if>
            <if test="'' != query.cityId and null != query.cityId">
                and CITY_ID = #{query.cityId}
            </if>
        </where>
    </select>
    <select id="selectOutputValue" resultType="com.org.management.entity.OutputValue">
        SELECT
            id	id,
            value_date	valueDate,
            busid	busid,
            totail	totail,
            totail_last	totailLast,
            totail_current	totailCurrent,
            claim	claim,
            claim_last	claimLast,
            claim_current	claimCurrent,
            guarantee	guarantee,
            guarantee_last	guaranteeLast,
            guarantee_current	guaranteeCurrent,
            no_guarantee	noGuarantee,
            no_guarantee_last	noGuaranteeLast,
            no_guarantee_current	noGuaranteeCurrent,
            no_claim	noClaim,
            no_claim_last	noClaimLast,
            no_claim_current	noClaimCurrent,
            maintain	maintain,
            maintain_last	maintainLast,
            maintain_current	maintainCurrent,
            repair	repair,
            repair_last	repairLast,
            repair_current	repairCurrent,
            accident	accident,
            accident_last	accidentLast,
            accident_current	accidentCurrent,
            sale	sale,
            sale_last	saleLast,
            sale_current	saleCurrent,
            rework	rework,
            rework_last	reworkLast,
            rework_current	reworkCurrent
        FROM
            T_OUTPUT_VALUE
        where busid = #{busId} and value_date = #{dateValue}
    </select>
</mapper>