<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.management.mapper.OrganizationMapper">
    <!--大区列表-->
    <select id="regionList" resultType="java.util.Map">
      SELECT DISTINCT
            to_char(A .region_id) "regionId",
            A .region_nm "regionNm"
        FROM
            td_dds_fmc A
        ORDER BY
            A .region_nm
    </select>

    <!--小区列表-->
    <select id="fmcList" resultType="java.util.Map">
        SELECT
        to_char(A .fmc_id) "fmcId",
        A .fmc_nm "fmcNm"
        FROM
        td_dds_fmc A
        <if test="'' != query.regionId and null != query.regionId">
            where A.region_id =#{ query.regionId }
        </if>
        ORDER BY
        A .region_nm,
        A .fmc_nm
    </select>

    <!--集团列表，和小区互斥-->
    <select id="groupList" resultType="java.util.Map">
        SELECT DISTINCT
        to_char(t.asc_grp_id) "ascGrpId",
        t.asc_grp_nm "ascGrpNm"
        FROM
          td_dds_asc t
        <if test="'' != query.regionId and null != query.regionId">
            where t.region_id =#{ query.regionId }
        </if>
        ORDER BY
          t.asc_grp_id,
          t.asc_grp_nm
    </select>

    <!--省份列表-->
    <select id="provList" resultType="java.util.Map">
        SELECT distinct
          to_char(a.prov_id) "provId",
          decode(
              a.prov_cn_nm,
              NULL,
              '其它',
              a.prov_cn_nm
            ) "provCnNm"
        FROM
          td_dds_city a
        ORDER BY
          a.prov_id
    </select>

    <!--城市列表-->
    <select id="cityList" resultType="java.util.Map">
        SELECT
        to_char(a.city_id) "cityId",
          a.city_cn_nm "cityCnNm"
        FROM
          td_dds_city a
        <if test="'' != query.provId and null != query.provId">
            where a.prov_id =#{ query.provId }
        </if>
        ORDER BY
          a.city_id
    </select>

    <!--经销商列表-->
    <select id="ascList" resultType="java.util.Map">
        <![CDATA[
            SELECT
                to_char(G .asc_id) "ascId",
                G .asc_cd || '_' || G .asc_nm "ascNm"
            FROM
                TD_DDS_ASC G
            WHERE
                1 = 1
            AND G .asc_st <> 3
       ]]>
        <if test="'' != query.regionId and null != query.regionId">
            AND G .region_id =#{ query.regionId }
        </if>
        <if test="'' != query.fmcId and null != query.fmcId">
            AND G .FMC_ID =#{ query.fmcId }
        </if>
        <if test="'' != query.ascGrpId and null != query.ascGrpId">
            AND G .asc_grp_id =#{ query.ascGrpId }
        </if>
        <if test="'' != query.provId and null != query.provId">
            AND G .prov_id =#{ query.provId }
        </if>
        <if test="'' != query.cityId and null != query.cityId">
            AND G .city_id =#{ query.cityId }
        </if>
        <if test="'' != query.ascCd and null != query.ascCd">
            AND G .ASC_ID =#{ query.ascCd }
        </if>
        ORDER BY
        G .asc_cd
    </select>
    <!--查询kpi-->
    <select id="selectKpiRpt" resultType="com.org.management.entity.KpiRptVo">
        SELECT
        period_cd "periodCd",
        #{query.orgTp} "orgTp",
        org_id "orgId",
        COUNT (kpi_val) "kpiVal",
        COUNT (lp_kpi_val) "lpKpiVal",
        COUNT (ly_kpi_val) "lyKpiVal"

        FROM
        TF_KPI_RPT
        <where>
            <if test="null != query.orgId and '' != query.orgId">
                AND ORG_ID = #{query.orgId}
            </if>
            <if test="null != query.orgIds and query.orgIds.size() > 0">
                AND ORG_ID IN
                <foreach item="item" index="index" collection="query.orgIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="null != query.periodTp and '' != query.periodTp">
                AND period_tp = #{query.periodTp}
            </if>
            <if test="null != query.periodCd and '' != query.periodCd">
                AND period_cd = #{query.periodCd}
            </if>
            <if test="null != query.orgTp and '' != query.orgTp">
                AND org_tp = #{query.orgTp}
            </if>
        </where>
        GROUP BY
        PERIOD_CD,
        ORG_ID
        ORDER BY
        ORG_ID ASC
    </select>
</mapper>